QMainWindow {
    background: #000000;
}

QPushButton {
    background-color: #c2b6b6;
    color: #8bd1ff;
    position: relative;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
}

QPushButton:hover {
    background-color: #838383;
}

QPushButton:pressed {
    background-color: rgb(0, 0, 0);
}

QLabel {
    background-color: inherit;
    color: #4cfc00;
}

QPushButton#btn_equ {
    background-color: #ff6e19;
    color: #4cfc00;
}

QPushButton#btn_equ:hover {
    background-color: #ff5858;
    color: #4cfc00;
}